body{
  background-color: rgb(168, 178, 219);
  margin: 5px;
}

header {
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  width: 100%;
  height: 40px;
}
nav{
  margin: 5px;
}
button {
  font-size: small;
  background-color: rgb(142, 155, 255);
  color: rgb(22, 27, 65);
  border-color: rgb(106, 123, 250);
  width: 14%;
  height: 30px;
  font-size: medium;
}
.container-foto{
  display: grid;
  place-content: center;
}
.foto {
  border-radius: 50%;
}
iframe.iperfil {
  width: 500px !important;
  height: 268px;
}
iframe.iresumen {
  width: 500px !important;
  height: 240px;
}
iframe.ihistorial {
  width: 500px !important;
  height: 115px;
}
iframe.iformacion {
  width: 500px !important;
  height: 136px;
}
iframe.iidiomas {
  width: 500px !important;
  height: 115px;
}
iframe.iaptitudes {
  width: 500px !important;
  height: 155px;
}
iframe.ihabilidades {
  width: 500px !important;
  height: 170px;
}
.contenido {
  display: grid;
  place-content: center;
}
.perfil{
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  padding: 10px;
}
.resumen{
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  padding: 10px;
}
.idiomas{
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  padding: 10px;
}
.formacion{
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  padding: 10px;
}
.historial{
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  padding: 10px;
}
.aptitudes{
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  padding: 10px;
}
.habilidades{
  background-color: rgb(142, 155, 255);
  border-radius: 20px;
  padding: 10px;
}