header {
  color: black;
}

.container-foto{
  display: grid;
  place-content: center;
}
.foto {
  border-radius: 50%;
}
iframe {
  width: 500px !important;
  height: 300px;
}
.contenido {
  display: grid;
  place-content: center;
}