/* Fondo que posiblemente no se ve si la pagina tiene contenido */
body{
    background-color: rgb(233, 220, 245);
}
/* Barra de Navegacion */
/* Color de la parte superior de la pagina donde está los botones y el icono */
.container-fluid{
    padding: 0px;
    background-color: rgb(194, 194, 194);
}
.texto-de-link {
    color: rgb(68, 68, 68);
}
/* Margen entre los elementos de container-fluid y los costados */
.navbar {
    padding: 2rem;
}

/* Icono de Inicio */
img.icon{
    height: 30px;
    width: 30px;
}
/* Ocultar el icono cuando el taamaño de ancho sea menor a 767px */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}
/* Parte de mi foto*/
/* Parte de las secciones generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Mi foto */
img.foto{
    margin: 20px;
    height: 150px;
    width: 150px;
    border: 5px solid black;
}
/* Fondo de todo */
.hero {
    min-height: 450px;
    text-align: center;
    background-color: rgb(194, 194, 194);
}
/* Separacion del contenido */
.hero-principal {
    padding: 3rem;
}
/* fuente de el nombre completo */
.hero-principal h1{
    font-family: 'Archivo Black', cursive;
    font-size: 2.5rem;
}
/* fuente de descripcion corta */
.hero-principal h2{
    color: rgb(53, 53, 53);
    font-size: 1.5rem;
}
/* Conoce a Eyder Fondo y letras  */
/* Colores de texto y fondo */
.seccion-oscura{
    color: white;
    background-color: black;
}
.sobre-mi {
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}
.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Archivo Black', cursive;
}
.seccion-text {
    text-align: 1.2rem;

}
.formacion {
    height: 500px;
    padding: 10px;
}
.formacion .contenedor{
    text-align: center;
    color: rgb(26, 26, 26);
    max-width: 600px;
}
.senati {
    max-width: 150px;
    margin: 20px;
    border-radius: 50%
}
.formacion .seccion-text{
    font-size: 1.2rem;
}
.seccion-clara {
    background-color: rgb(202, 201, 201);
}
.proyectos {
    height: 600px;
}
.fila-repo {
    background-color: black;
}
.col-repo {
    background-color: black;
    text-align: center;
    border-color: aliceblue;
}
.proyectos .seccion-titulo{
    text-align: center;
    color: white;
    background-color: black;
}
.img-repo {
    border-radius: 20px;
    width: 400px;
    height: 300px;
}