.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: var(--secondary-color);
  background: linear-gradient(45deg, transparent 60%, var(--secondary-color) 60%);
  gap: 50px;
  padding: 80px;
  box-sizing: border-box;
  h1 {
    color: black
  }
}

.cards{
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: var(--body-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px var(--secondary-color);
  transform: translateY(-1px);
  transition: all 0.1s ease-in;
}

.card:hover {
  box-shadow: 0px 0px var(--secondary-color);
  transform: translateY(1px);
}

.imgProject {
  aspect-ratio: 16 / 9;
  object-fit: cover
}

.text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  h1, p {
    color: var(--text-color);
  }
  .description {
    flex-grow: 1;
  }
}

.techs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  svg {
    width: 48px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linkFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  svg {
    width: 36px;
  }
}

@media (max-width: 768px) {
  .projects {
    padding: 100px;

  }

  .cards{
    flex-direction: column;
  }
  
  .card {
    width: 100%;
  }
}

@media (max-width: 1169px) {
.projects {
  background: linear-gradient(45deg, transparent 70%, var(--secondary-color) 70%);

}
}