/*-------------------------------------------------------- Barra de Navegacion --------------------------------------------------------*/
/* Margen entre los elementos de container-fluid y los costados */
.navbar {
    position: fixed;
    background-color: var(--color-p);
    width: 100%;
    z-index: 10;
}

/* Colores de las barras de arriba  */
.link{
    font-family: var(--font-s);
    font-weight: 500;
    color: black;
}
