section.proyectos{
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo{
  color: var(--color-p);
  font-size: 3rem;
}
.tituloRepo{
  margin: 25px;
  color: white;
}
.repositorios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px
}
/* Separar cada repositorio */
.repositorio {
  width: 35%;
  background-color: rgb(15, 15, 15);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.titulo-repo {
  font-weight: bold;
  color: var(--color-s);
  padding: 20px;
}
/* Imagenes de los repositorios */
.img {
  aspect-ratio: 16/9;
  transition: ease 0.2s;
}
/* Parte inferior del repositorio  */
.footer-repo {
  padding: 20px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech{
  width: 50px;
}