.post {
  cursor: pointer;
  overflow: hidden;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  background-color: var(--body-color);
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;  
  aspect-ratio: 1.92;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
