
/*-------------------------------------------------------- Seccion de mi FOTO --------------------------------------------------------*/

/* -------------------------------- Conoce a Eyder Fondo y letras ------------------------------------------------------------- */
/* Colores de texto y fondo de cada seccion */
section.sobre-mi{
    width: 100%;
    background-color: black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Tamaño de la seccion */
.contenido-sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* EL titulo de esta Seccion */
.contenido-sobre-mi h1{
    color: var(--color-p);
    font-size: 3rem;
    font-weight: 500;
}
/* Tamaño que abarca el texto */
.contenido-sobre-mi p{
    
    color: white;
    max-width: 600px;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
}
/* ------------------------------------------------------- Seccion de PROYECTOS ---------------------------------------------*/

/* ------------------------------------------------ FORMACION --------------------------------------------------*/
/* Tamaño de la seccion y alineacion*/
.formacion {
    background-color: black;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-formacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenido-formacion h1{
    color: var(--color-p);
    text-align: center;
    font-weight: 500;
}
.contenido-formacion p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.senati {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Imagen de Senati */
.img-senati {
    margin: 20px;
    height: 150px;
    width: 150px;
}
#senati {
    cursor: pointer;
    transition: opacity 0.5s ease; /* La transición durará 0.5 segundos con una curva de aceleración suave */
}

/* Texto de mi formacion academica */
.formacion .seccion-text{
    font-size: 1.2rem;
}
/* ------------------------------------------------- Seccion Contactos ------------------------------------------------- */
/* Separacion de los objetos de contactos */
.contactos {
    min-height: 400px;
    padding: 20px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1.seccion-titulo {
    color: var(--color-s);
    font-weight: 1000;

}
.contactos-icons{
    padding: 20px;
}
/* separacion de cada icono */
.iconos-contactos {
    margin: 10px;
    text-align: center;
}
/* Tamaño de cada icono */
.img-contacto {
    width: 50px;
}

/* Texto de los contactos */
h5 {
    margin: 10px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    color: white;
}
/* ----------------------------------- Cambios según tamaño de la página ------------------------------------*/
/* Quitar ícono de el principio para que no aparezca en las opciones desplegables */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    .img-repo:hover {
        scale: 1.1;
    }
}
/* Quitar texto de los contactos y bajar el tamaño de los iconnos */
@media screen and (max-width: 284px) {
    h5 {
        display: none;
    }
    .img-contacto {
        margin: 10px;
        max-width: 30px;
    }
}

.options-var {
    background-color: var(--color-p);
}