@font-face {
  font-family: 'Helvetica';
  src: url('assets/font/Helvetica.ttf') format('truetype');
}

:root {
  --font-p: 'Share Tech', sans-serif;
  --font-s: 'Helvetica', sans-serif;
  --color-p: #94e2e3;
  --color-s: #21b0fa;
  font-size: 10px;
}
body{
  background-color: black;
  width: 100%;
  min-width: 355px;
  margin: 0;
  padding: 0;
}
html{
  width: 100%;

}
h1{
  font-family: var(--font-p);
  margin: 0;
}
p {
  font-family: var(--font-s);
  margin: 0;
}

a {
  text-decoration: none !important;
}