:root {
  /* font-family: "Anton SC", serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  --cp: #ff8a8a;
  --cs: #f4deb3;
}

#root {
  height: 100%;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

a {
  color: #5f6368;
  text-decoration: none;
}

a:hover {
  color: black;
}