/* Fondo que posiblemente no se ve si la pagina tiene contenido */
body{
    background-color: #0E001E;
    min-width: 290px;
}
/* Barra de Navegacion */
/* Color de la parte superior de la pagina donde está los botones y el icono */
.container-fluid{
    padding: 0px;
    background-color: #D8FBF7;
}
/* Margen entre los elementos de container-fluid y los costados */
.navbar {
    padding: 2rem;
}

/* Icono de Inicio */
img.icon{
    height: 30px;
    width: 30px;
}
/* Colores de las barras de arriba  */
.link-sobre-mi{
    color: #0E001E;
}
.link-sobre-mi:hover{
    color: #5100d4;
    font-weight: bolder;
}
.link-formacion{
    color: #0E001E;
}
.link-formacion:hover{
    color: #5100d4;
    font-weight: bolder;
}
.link-proyectos{
    color: #0E001E;
}
.link-proyectos:hover{
    color: #5100d4;
    font-weight: bolder;
}
.link-contactos{
    color: #0E001E;
}
.link-contactos:hover{
    color: #5100d4;
    font-weight: bolder;
}
.link-descarga {
    color: #0E001E;
}
.link-descarga:hover{
    color: #5100d4;
    font-weight: bolder;
}

/* Parte de mi foto*/
/* Parte de las secciones generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Fondo de todo */
.hero {
    min-height: 450px;
    text-align: center;
    background-color: #D8FBF7;
}
/* Mi foto */
img.foto{
    margin: 0px;
    height: 150px;
    width: 150px;
}
#miFoto {
    position: relative;
    cursor: pointer;
    transition: opacity 0.5s ease; /* La transición durará 0.5 segundos con una curva de aceleración suave */
  }
.borde {
    background-color: #0E001E;
    border-radius: 50%;
    padding: 10px;
}
/* Separacion del contenido */
.hero-principal {
    padding: 3rem;
}
/* fuente de el nombre completo */
.hero-principal h1{
    font-family: 'Archivo Black', cursive;
    font-size: 2.5rem;
}
/* fuente y color de descripcion corta */
.hero-principal h2{
    color: #0E001E;
    font-size: 1.5rem;
}
/* -------------------------------- Conoce a Eyder Fondo y letras ------------------------------------------------------------- */
/* Colores de texto y fondo de cada seccion */
.seccion-oscura{
    color: white;
    background-color: #0E001E;
}
.seccion-clara {
    color: black;
    background-color: #D8FBF7;
}
/* Tamaño de la seccion */
.sobre-mi {
    height: 500px;
    padding: 10px;
}
/* EL titulo de esta Seccion */
.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Archivo Black', cursive;
}
/* Tamaño que abarca el texto */
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}
/* ------------------------------------------------ FORMACION --------------------------------------------------*/
/* Titulo de mi formacion academica */
.formacion .seccion-titulo{
    color: black;
}
/* Tamaño de la seccion y alineacion*/
.formacion {
    height: 500px;
    padding: 10px;
}
/* Color del Contenedor de texto e imagen*/
.formacion .contenedor{
    text-align: center;
    color: black;
    max-width: 600px;
}
/* Imagen de Senati */
.img-senati {
    margin: 20px;
    height: 150px;
    width: 150px;
}
#senati {
    position: relative;
    cursor: pointer;
    transition: opacity 0.5s ease; /* La transición durará 0.5 segundos con una curva de aceleración suave */
}

/* Texto de mi formacion academica */
.formacion .seccion-text{
    font-size: 1.2rem;
}
/* ------------------------------------------------------- Seccion de PROYECTOS ---------------------------------------------*/
/* margen de los repositorios dentro de la seccion proyecto */
.proyectos {
    padding: 40px 0px 50px 0px;
}
/* Separar cada repositorio */
.repositorios {
    padding: 25px;
}
/* titulo */
.proyectos .seccion-titulo{
    text-align: center;
    color: D8FBF7;
    background-color: #0E001E;
}
/* Color del contenedor de los repositorios */
.fila-repo {
    background-color: #0E001E;
}
/* Titulo de los repositorios */
.titulo-repo {
    font-weight: bold;
}
/* Imagenes de los repositorios */
.img-repo {
    border-radius: 20px;
    margin: 20px 0 20px 0;
}
/* Link para el github */
.texto-de-link2 {
    color: rgb(197, 197, 197);
}
.tecnologias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tecnologias img{
    width: 50px;
    margin: 5px;
}
/* ------------------------------------------------- Seccion Contactos ------------------------------------------------- */
/* Separacion de los objetos de contactos */
.contactos {
    padding: 20px;
}
.contactos .seccion-titulo{
    color: black;
}

/* separacion de cada icono */
.iconos-contactos {
    margin: 10px;
    text-align: center;
}
/* Tamaño de cada icono */
.img-contacto {
    width: 50px;
}

/* Texto de los contactos */
h5 {
    margin: 10px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
/* ----------------------------------- Cambios según tamaño de la página ------------------------------------*/
/* Quitar ícono de el principio para que no aparezca en las opciones desplegables */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}
/* Quitar texto de los contactos y bajar el tamaño de los iconnos */
@media screen and (max-width: 284px) {
    h5 {
        display: none;
    }
    .img-contacto {
        margin: 10px;
        max-width: 30px;
    }
}